/***
   Rui Santos
   Complete project details at https://RandomNerdTutorials.com
***/

html {
  font-family: Arial;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}
h1 {
  color: #0F3376;
  padding: 2vh;
}
p {
  font-size: 1.5rem;
}

/*Style for general tables*/
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

caption {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  caption-side: top;
  text-align: left;
  letter-spacing: 1px;
}
  
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
}

th {
  letter-spacing: 2px;
}
  
td {
  letter-spacing: 1px;
}

thead th {
  background-color: #dddddd;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* Style WlFPS - summaryTbl*/    
table.summaryTbl {
  font-family: arial, sans-serif;
}

/*Value col summaryTbl*/
table.summaryTbl thead th:nth-child(2) {
  width: 15%;
}

/*Unit col summaryTbl*/
table.summaryTbl thead th:nth-child(3) {
  width: 15%;
}

/*Alarm col summaryTbl*/
table.summaryTbl thead th:nth-child(4) {
  width: 15%;
}
